@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap*');

*{
    box-sizing: border-box;
    margin: auto;
    padding: auto;  
    font-family: serif;
}
body{
    background-color: #ffe2bc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    text-align: center;
    float: left;
    padding-left: 10px;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

.home, .forecast, .aboutus {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.tempBtn{
    float: right;
    padding-right: 25px;
    padding-top: 25px;
}

.judul{
    font-family: cursive;
    font-size: 50px;
    text-align: center;
    color: khaki;
}

input{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.get{
    width: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: bold;
    color: #1a83ff;
}

.get:hover{
    background-color: khaki;
    transition-duration: 0.5s;
}

.kondisi{
    width: 10%;
}

.navbar {
    background-color: #3797a4;
    color: whitesmoke;
    height: 80px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.btnmenu, .btnclose{
    color: whitesmoke;
}

.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu{
    background-color: #3797a4;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%; 
    align-items: center;
    display: flex;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover{
    background-color: #1a83ff;
    transition-duration: 0.5s;
}

.-nav-menu-items {
    width: 100%;
}

.navbar-toggle{
    background-color: #3797a4;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

span {
    margin-left: 16px;
}

.headertitle{
    text-align: center;
    width: 100%;
    font-size: 40px;
    font-family: 'Crimson text', serif;
}

.home{
    width: 70px;
    height: 70px;
}

.developer{
    box-sizing: border-box;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.container {
    padding: 0 16px;
  }
  
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

@media screen and (max-width: 650px) {
    .column {
      width: 30%;
      display: block;
    }
  }

.card {
    box-shadow: 0 4px 8px 0 black;
    background-color: #ffb367;
}

.card::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

.logo{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo:hover{
    transform: scale(1.5);
    transition-duration: 0.5s;
}

.source{
    font-family: monospace;
    font-size: 32px;
    color: tan;
}


